[submodule "NPBehave"]
	path = NPBehave
	url = https://github.com/yika-aixi/NPBehave.git
[submodule "xNode"]
	path = xNode
	url = https://github.com/yika-aixi/xNode.git
	branch = Cabin_Icarus
[submodule "xNodeGroups"]
	path = xNodeGroups
	url = https://github.com/yika-aixi/xNodeGroups
